body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;

    padding: 0px;
}

h2 {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.nvbrcolour a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.profile-container {
    position: relative;
    display: inline-block;
}

.profile-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.container {
    margin-top: 20px;
    text-align: center;
}

.input-group {
    margin: 20px;
}

input[type="date"] {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#results {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

#tasks, #events, #resources {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.task-card, .event-card, .resource-card {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.task-card h4, .event-card h4, .resource-card h4 {
    margin-top: 0;
}
